


  <div class="row products">

    <div class="col-md-10 title">Finn's Fancy Fish</div>
    <div class="col-md-2">
    </div>
  <div class="header-right">
  <a href="#/cart" class="cart invert">
    <i class="fa fa-shopping-cart fa-3x pull-right"></i>
  </a>
  <a href="#/admin" class="admin invert">admin.</a>
  </div>
  </div>


  <div class="container">
    <div class="row product">
      <div class="col-md-4 fish" ng-repeat="fish in mainCtrl.fishes">
      <h3>{{fish.name}}</h3>
      <img data-ng-src={{fish.image}} />
      <p>{{fish.description}}</p>
      <h3>Price: {{ fish.price | currency }}</h3>
      <form ng-submit="mainCtrl.addFish(newFish)">
        <input type="text" ng-model="newFish.name" placeholder="Name">
        <image type="image" ng-model="newFish.image" placeholder="image">
        <textarea ng-model="newFish.description" placeholder="Description"></textarea>
        <input type="text" ng-model="newFish.price" placeholder="Price">

        <button type="edit">Edit Fish</button>
        <button class="btn btn-default adminbtn" ng-click"mainCtrl.deleteFish(fish)">Delete Fish</button>
        <button type="submit">Add Fish</button>
      </form>

      </div>
    </div>
  </div>














    </div>
    </div>
  </div>
   -->
<!--
  <button ng-click="mainCtrl.alertMe()">Alert Me!!!</button>
-->
