body {
  width: 100%;
  background: url("https://s3.amazonaws.com/files.creativemarket.com/images/screenshots/products/25/258/258170/fish-scales-pattern-blue-f.jpg?1417500113"); }

.container {
  margin: 0 auto; }
