

<!-- '/cart' -->

  <div class="row">
    <div class="col-md-2">
        <a href="#/">
          <i class="fa fa-arrow-left">Continue Shopping</i>
          <div class="header-left">
          </div>
        </a>
    </div>
    <div class="col-md-8 title">Your Catch of the Day</div>
    <div class="col-md-2"><a href="#/admin/" class="admin invert">admin.</a></div>
  </div>

    <div class="cartContainer">
      <h3>Shopping Cart</h3>
    </div>


      <h1>shopping cart.</h1>

  <div class="container">
    <div class="row fishCart">
      <div class="col-md-4" ng-repeat="fish in mainCtrl.cartFishes">
        <h3>{{fish.name}}</h3>
        <img data-ng-src={{fish.image}}/>
        <p>{{fish.description}}</p>
        <h3>Price: {{fish.price | currency}}</h3>
      </div>
    </div>
  </div>
<!--                   <img data-ng-src={{fish.image}}>
<p class= "name">{{fish.name}}</p>
<p class= "price">{{fish.price}}</p>
              </div>
              <div class="inner1" id="xxx">
<button class="remove" ng-click="mainCtrl.removeCartFish(fish)">x</button>
              </div>
          </li>
      </ul>
 -->

      <div class="money">
          <div class="total">total price = </div>
          <div class="dollar">$</div>
          <div class="total-num"> {{mainCtrl.getTotalPriceOfCartFishes}} </div>
      </div>



  </div>


<!--   <div class="row products">
<div class="col-md-10 title">Finn's Fancy Fish</div>
<div class="col-md-2">
</div>

</div>
<hr>

<div class="container">
<div class="row-product">
  <div class="col-md-3 fish" ng-repeat="fish in mainCtrl.cartfishes">
  <h3>{{fish.name}}</h3>
  <img data-ng-src={{fish.image}} />
  <p>{{fish.description}}</p>
  <h3>Price: {{ fish.price | currency }}</h3>
  </div>
  <div class="inner1" id="xxx">
    <button class="remove" ng-click="mainCtrl.removeCartFish(fish)">x</button>
</div>
<div class="pricing">
  <div class="total">total price = </div>
  <div class="dollar">$</div>
  <div class="total-num"> {{mainCtrl.getTotalPriceOfCartFishes}}</div>
</div>
 -->
<!-- products.html
  <div class="row products">

  <div class="col-md-10 title">Finn's Fancy Fish</div>
  <div class="col-md-2">
  </div>
  <div class="header-right">
  <a href="#/cart" class="cart invert">
  <i class="fa fa-shopping-cart fa-3x pull-right"></i>
  </a>
  <a href="#/admin" class="admin invert">admin.</a>
  </div>
  </div>


  <div class="container">
  <div class="row product">
 <div class="col-md-4 fish" ng-repeat="fish in mainCtrl.fishes">
 <h3>{{fish.name}}</h3>
 <img data-ng-src={{fish.image}} />
 <p>{{fish.description}}</p>
 <h3>Price: {{ fish.price | currency }}</h3>

 </div>
  </div>
  </div>
 -->
