<!-- <h1 class="logo">Finn's Fine Fish</h1>

<div class="nav_Views">
  <a href="#/"><span class="fa-lg">
    <i class="fa fa-shopping-cart"></i>
  </span>Home</a>
  <a href="#/user/shoppingCart"><span class="fa-lg">
    <i class="fa fa=shopping-cart"></i>
  </span>Shopping Cart</a>  add shopping cart

</div>

<div class="listContainer">
  <ul>
    <li class="item" ng-repeat="item in mainCtrl.items">
      <img ng-src="{{item.image}}" height='250' alt=""/>
      <div class="fishInfo">
        <h3>{{item.fishName}}</h3>
        <h4>${{item.price}}</h4>
        <p>{{item.fishDescription}}</p>
        <button ng-click="mainCtrl.addToCart(item)">Add to Cart</button>
      </div>
    </li>
  </ul>
</div>
 -->
